@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
.ButtonGroup__button, .List__field--primary.List__field--button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
  color: currentColor; }

.link {
  color: #0074e0;
  text-decoration: none;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) color; }
  .link:hover {
    color: #005bb1;
    text-decoration: underline; }
  .link:visited {
    color: #0074e0; }
    .link:visited:hover {
      color: #005bb1; }
  .link:focus {
    box-shadow: 0 0 0 3px #badeff;
    border-radius: 3px; }

.ButtonGroup__button, .List__field--primary.List__field--button, a,
button, .tabs__link--active {
  outline: 0; }
  .focus-feedback .ButtonGroup__button:focus, .focus-feedback .List__field--primary.List__field--button:focus, .focus-feedback a:focus,
  .focus-feedback button:focus, .focus-feedback .tabs__link--active:focus {
    box-shadow: inset 0 0 0 2px #0074e0, inset 0 0 0 4px rgba(255, 255, 255, 0.8) !important; }

.List__field:not(.List__item--nowrap) {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0; }

input,
textarea {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0; }

a {
  text-decoration: none;
  outline: 0; }

.ButtonGroup__button, .List__field--primary.List__field--button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
  color: currentColor; }

.link {
  color: #0074e0;
  text-decoration: none;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) color; }
  .link:hover {
    color: #005bb1;
    text-decoration: underline; }
  .link:visited {
    color: #0074e0; }
    .link:visited:hover {
      color: #005bb1; }
  .link:focus {
    box-shadow: 0 0 0 3px #badeff;
    border-radius: 3px; }

.ButtonGroup__button, .List__field--primary.List__field--button, a,
button, .tabs__link--active {
  outline: 0; }
  .focus-feedback .ButtonGroup__button:focus, .focus-feedback .List__field--primary.List__field--button:focus, .focus-feedback a:focus,
  .focus-feedback button:focus, .focus-feedback .tabs__link--active:focus {
    box-shadow: inset 0 0 0 2px #0074e0, inset 0 0 0 4px rgba(255, 255, 255, 0.8) !important; }

.List__field:not(.List__item--nowrap) {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap; }

html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #3c454e;
  background: #fff;
  line-height: 1.5; }

input::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

.ButtonGroup__button, .List__field--primary.List__field--button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
  color: currentColor; }

.link {
  color: #0074e0;
  text-decoration: none;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) color; }
  .link:hover {
    color: #005bb1;
    text-decoration: underline; }
  .link:visited {
    color: #0074e0; }
    .link:visited:hover {
      color: #005bb1; }
  .link:focus {
    box-shadow: 0 0 0 3px #badeff;
    border-radius: 3px; }

.ButtonGroup__button, .List__field--primary.List__field--button, a,
button, .tabs__link--active {
  outline: 0; }
  .focus-feedback .ButtonGroup__button:focus, .focus-feedback .List__field--primary.List__field--button:focus, .focus-feedback a:focus,
  .focus-feedback button:focus, .focus-feedback .tabs__link--active:focus {
    box-shadow: inset 0 0 0 2px #0074e0, inset 0 0 0 4px rgba(255, 255, 255, 0.8) !important; }

.List__field:not(.List__item--nowrap) {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap; }

.button {
  background: #0074e0;
  color: #fff;
  border-color: #0074e0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 0.5rem;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.02rem;
  cursor: pointer;
  transition: all 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97), padding 0s;
  text-transform: uppercase;
  line-height: 1;
  height: 2rem;
  white-space: nowrap; }
  .button:hover {
    background: #2d91ee;
    border-color: #2d91ee; }
  .button:active, .button--active {
    background: #005bb1;
    border-color: #005bb1; }
  .button:disabled, .button--disabled {
    background: #b5c1cc;
    border-color: #b5c1cc; }
  .button:focus {
    outline: none; }
  .button:disabled, .button.button--disabled {
    cursor: not-allowed; }
  .button > .Icon:not(.Icon--left):not(.Icon--right) {
    font-size: 1.5em; }

.button--danger {
  background: #c30014;
  color: #fff;
  border-color: #c30014; }
  .button--danger:hover {
    background: #dd4554;
    border-color: #dd4554; }
  .button--danger:active, .button--danger--active {
    background: #93000f;
    border-color: #93000f; }
  .button--danger:disabled, .button--danger--disabled {
    background: #b5c1cc;
    border-color: #b5c1cc; }

.button--success {
  background: #208831;
  color: #fff;
  border-color: #208831; }
  .button--success:hover {
    background: #43a953;
    border-color: #43a953; }
  .button--success:active, .button--success--active {
    background: #156a23;
    border-color: #156a23; }
  .button--success:disabled, .button--success--disabled {
    background: #b5c1cc;
    border-color: #b5c1cc; }

.button--white {
  background: #fff;
  color: #fff;
  border-color: #fff;
  color: #3c454e; }
  .button--white:hover {
    background: #c9d1da;
    border-color: #c9d1da; }
  .button--white:active, .button--white--active {
    background: #fff;
    border-color: #fff; }
  .button--white:disabled, .button--white--disabled {
    background: #b5c1cc;
    border-color: #b5c1cc; }
  .button--white:disabled, .button--white--disabled {
    background-color: #687889;
    border-color: #687889; }

.button--medium {
  font-size: 0.875rem;
  height: 1.75rem; }

.button--small {
  font-size: 0.875rem;
  height: 1.5rem; }

.button--xsmall {
  font-size: 0.75rem;
  height: 1.375rem; }

.button--block {
  width: 100%; }

.button--outline {
  color: #0074e0;
  border-color: #0074e0; }
  .button--outline, .button--outline:hover, .button--outline:active, .button--outline:disabled, .button--outline--disabled, .button--outline--active {
    background: transparent; }
  .button--outline:hover {
    border-color: #2d91ee;
    color: #2d91ee; }
  .button--outline:active, .button--outline--active {
    border-color: #005bb1;
    color: #005bb1; }
  .button--outline:disabled, .button--outline--disabled {
    color: #b5c1cc;
    border-color: #b5c1cc;
    background-color: transparent; }

.button--outline.button--danger {
  color: #c30014;
  border-color: #c30014; }
  .button--outline.button--danger, .button--outline.button--danger:hover, .button--outline.button--danger:active, .button--outline.button--danger:disabled, .button--outline.button--danger--disabled, .button--outline.button--danger--active {
    background: transparent; }
  .button--outline.button--danger:hover {
    border-color: #dd4554;
    color: #dd4554; }
  .button--outline.button--danger:active, .button--outline.button--danger--active {
    border-color: #93000f;
    color: #93000f; }
  .button--outline.button--danger:disabled, .button--outline.button--danger--disabled {
    color: #b5c1cc;
    border-color: #b5c1cc;
    background-color: transparent; }

.button--outline.button--white {
  color: #fff;
  border-color: #fff; }
  .button--outline.button--white, .button--outline.button--white:hover, .button--outline.button--white:active, .button--outline.button--white:disabled, .button--outline.button--white--disabled, .button--outline.button--white--active {
    background: transparent; }
  .button--outline.button--white:hover {
    border-color: #c9d1da;
    color: #c9d1da; }
  .button--outline.button--white:active, .button--outline.button--white--active {
    border-color: #fff;
    color: #fff; }
  .button--outline.button--white:disabled, .button--outline.button--white--disabled {
    color: #b5c1cc;
    border-color: #b5c1cc;
    background-color: transparent; }
  .button--outline.button--white:disabled, .button--outline.button--white--disabled {
    color: #687889;
    border-color: #687889; }

.button--flat {
  color: #3c454e;
  font-weight: 600;
  padding: 0; }
  .button--flat, .button--flat:hover, .button--flat:active, .button--flat:disabled, .button--flat--disabled, .button--flat--active {
    background: transparent;
    border-color: transparent; }
  .button--flat:hover {
    color: #2d91ee; }
  .button--flat:active, .button--flat--active {
    color: #005bb1; }
  .button--flat:disabled, .button--flat--disabled {
    color: #b5c1cc; }

.button--flat.button--primary {
  color: #0074e0; }
  .button--flat.button--primary, .button--flat.button--primary:hover, .button--flat.button--primary:active, .button--flat.button--primary:disabled, .button--flat.button--primary--disabled, .button--flat.button--primary--active {
    background: transparent;
    border-color: transparent; }
  .button--flat.button--primary:hover {
    color: #2d91ee; }
  .button--flat.button--primary:active, .button--flat.button--primary--active {
    color: #005bb1; }
  .button--flat.button--primary:disabled, .button--flat.button--primary--disabled {
    color: #b5c1cc; }

.button--flat {
  color: #3c454e;
  font-weight: 600;
  padding: 0; }
  .button--flat, .button--flat:hover, .button--flat:active, .button--flat:disabled, .button--flat--disabled, .button--flat--active {
    background: transparent;
    border-color: transparent; }
  .button--flat:hover {
    color: #2d91ee; }
  .button--flat:active, .button--flat--active {
    color: #005bb1; }
  .button--flat:disabled, .button--flat--disabled {
    color: #b5c1cc; }

.button--flat.button--danger {
  color: #c30014; }
  .button--flat.button--danger, .button--flat.button--danger:hover, .button--flat.button--danger:active, .button--flat.button--danger:disabled, .button--flat.button--danger--disabled, .button--flat.button--danger--active {
    background: transparent;
    border-color: transparent; }
  .button--flat.button--danger:hover {
    color: #dd4554; }
  .button--flat.button--danger:active, .button--flat.button--danger--active {
    color: #93000f; }
  .button--flat.button--danger:disabled, .button--flat.button--danger--disabled {
    color: #b5c1cc; }

.button--flat.button--white {
  color: #fff; }
  .button--flat.button--white, .button--flat.button--white:hover, .button--flat.button--white:active, .button--flat.button--white:disabled, .button--flat.button--white--disabled, .button--flat.button--white--active {
    background: transparent;
    border-color: transparent; }
  .button--flat.button--white:hover {
    color: #c9d1da; }
  .button--flat.button--white:active, .button--flat.button--white--active {
    color: #fff; }
  .button--flat.button--white:disabled, .button--flat.button--white--disabled {
    color: #b5c1cc; }
  .button--flat.button--white:disabled, .button--flat.button--white--disabled {
    color: #687889; }

.ButtonGroup__button, .List__field--primary.List__field--button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
  color: currentColor; }

.link {
  color: #0074e0;
  text-decoration: none;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) color; }
  .link:hover {
    color: #005bb1;
    text-decoration: underline; }
  .link:visited {
    color: #0074e0; }
    .link:visited:hover {
      color: #005bb1; }
  .link:focus {
    box-shadow: 0 0 0 3px #badeff;
    border-radius: 3px; }

.ButtonGroup__button, .List__field--primary.List__field--button, a,
button, .tabs__link--active {
  outline: 0; }
  .focus-feedback .ButtonGroup__button:focus, .focus-feedback .List__field--primary.List__field--button:focus, .focus-feedback a:focus,
  .focus-feedback button:focus, .focus-feedback .tabs__link--active:focus {
    box-shadow: inset 0 0 0 2px #0074e0, inset 0 0 0 4px rgba(255, 255, 255, 0.8) !important; }

.List__field:not(.List__item--nowrap) {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap; }

.ButtonGroup {
  display: flex; }

.ButtonGroup__button {
  cursor: pointer;
  flex: 1;
  border: 1px solid #005bb1;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 0.5rem;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06rem;
  transition: all 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97), padding 0s;
  text-transform: uppercase;
  line-height: 1;
  height: 2rem;
  white-space: nowrap;
  color: #005bb1; }
  .ButtonGroup__button:first-child {
    border-radius: 3px 0 0 3px; }
  .ButtonGroup__button:last-child {
    border-radius: 0 3px 3px 0; }
  .ButtonGroup__button:focus {
    outline: none; }
  .ButtonGroup__button--disabled {
    cursor: not-allowed;
    color: #687889;
    border-color: #687889; }
  .ButtonGroup__button:active, .ButtonGroup__button--active {
    background-color: #005bb1;
    color: #fff; }
    .ButtonGroup__button:active.ButtonGroup__button--disabled, .ButtonGroup__button--active.ButtonGroup__button--disabled {
      background-color: #687889; }
  .ButtonGroup__button--small {
    font-size: 0.875rem;
    height: 1.5rem; }
  .ButtonGroup__button--xsmall {
    font-size: 0.75rem;
    height: 1.375rem; }

.ButtonGroup__button, .List__field--primary.List__field--button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
  color: currentColor; }

.link {
  color: #0074e0;
  text-decoration: none;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) color; }
  .link:hover {
    color: #005bb1;
    text-decoration: underline; }
  .link:visited {
    color: #0074e0; }
    .link:visited:hover {
      color: #005bb1; }
  .link:focus {
    box-shadow: 0 0 0 3px #badeff;
    border-radius: 3px; }

.ButtonGroup__button, .List__field--primary.List__field--button, a,
button, .tabs__link--active {
  outline: 0; }
  .focus-feedback .ButtonGroup__button:focus, .focus-feedback .List__field--primary.List__field--button:focus, .focus-feedback a:focus,
  .focus-feedback button:focus, .focus-feedback .tabs__link--active:focus {
    box-shadow: inset 0 0 0 2px #0074e0, inset 0 0 0 4px rgba(255, 255, 255, 0.8) !important; }

.List__field:not(.List__item--nowrap) {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap; }

.List {
  background: #fff;
  list-style: none;
  overflow: auto; }

.List__item {
  padding: 0;
  position: relative; }
  .List__item--active, .List__item--hover, .List__item--clickable:hover {
    background-color: #f3f9ff; }
  .List__item--active {
    color: #0074e0; }

.List__item-row {
  display: flex;
  padding: 0 0.5rem;
  align-items: center; }
  .List__item-row--small, .List__item-row--borderless {
    padding: 0 0.25rem; }
  .List__item-row--small {
    font-size: 0.875rem; }

.List__item-nested-row {
  margin-left: 1.5rem; }
  .List__item-nested-row--bordered {
    margin: 0.5rem;
    margin-left: 1.5rem; }

.List__field {
  padding: 0.5rem;
  min-width: 0;
  flex-shrink: 0; }
  .List__field--small, .List__field--borderless {
    padding: 0.25rem; }
  .List__field--interactive {
    position: relative;
    z-index: 2; }
  .List__field--draghandle {
    padding: 0; }
  .List__field--primary {
    flex: 1 auto; }
    .List__field--primary.List__field--button {
      position: static;
      cursor: pointer; }
      .List__item:hover .List__field--primary.List__field--button::after {
        content: '';
        position: absolute;
        z-index: 1;
        background: transparent;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
  .List__field--hidden {
    visibility: hidden; }
    .List__item-row:hover .List__field--hidden {
      visibility: visible; }
  .List__field--media {
    min-height: 4rem;
    display: flex; }
    .List__field--media.List__field--small {
      min-height: 2rem; }

.List__field--checkbox .CheckBox {
  line-height: 1; }

.List__badges-list {
  list-style: none;
  display: flex; }

.List__badge:not(:first-child) {
  margin-left: 0.5rem; }

.ButtonGroup__button, .List__field--primary.List__field--button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
  color: currentColor; }

.link {
  color: #0074e0;
  text-decoration: none;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) color; }
  .link:hover {
    color: #005bb1;
    text-decoration: underline; }
  .link:visited {
    color: #0074e0; }
    .link:visited:hover {
      color: #005bb1; }
  .link:focus {
    box-shadow: 0 0 0 3px #badeff;
    border-radius: 3px; }

.ButtonGroup__button, .List__field--primary.List__field--button, a,
button, .tabs__link--active {
  outline: 0; }
  .focus-feedback .ButtonGroup__button:focus, .focus-feedback .List__field--primary.List__field--button:focus, .focus-feedback a:focus,
  .focus-feedback button:focus, .focus-feedback .tabs__link--active:focus {
    box-shadow: inset 0 0 0 2px #0074e0, inset 0 0 0 4px rgba(255, 255, 255, 0.8) !important; }

.List__field:not(.List__item--nowrap) {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap; }

.Avatar {
  min-width: 1em;
  min-height: 1em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  overflow: hidden;
  font-size: 3rem; }

.Avatar--small {
  font-size: 1.5rem; }

.Avatar--large {
  font-size: 4.5rem; }

.Avatar--big {
  font-size: 6rem; }

.Avatar__image {
  width: 100%;
  height: 100%;
  vertical-align: top; }

.Avatar__placeholder {
  background-color: #c9d1da;
  width: 100%;
  height: 100%;
  position: relative; }

.Avatar__placeholder-icon-container {
  position: absolute;
  top: 0.1em;
  bottom: 0.1em;
  left: 0.1em;
  right: 0.1em;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1; }

.Avatar__placeholder-icon {
  position: absolute;
  bottom: -0.2em;
  left: 50%;
  transform: translateX(-50%);
  color: #9eaebc; }

.ButtonGroup__button, .List__field--primary.List__field--button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
  color: currentColor; }

.link {
  color: #0074e0;
  text-decoration: none;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) color; }
  .link:hover {
    color: #005bb1;
    text-decoration: underline; }
  .link:visited {
    color: #0074e0; }
    .link:visited:hover {
      color: #005bb1; }
  .link:focus {
    box-shadow: 0 0 0 3px #badeff;
    border-radius: 3px; }

.ButtonGroup__button, .List__field--primary.List__field--button, a,
button, .tabs__link--active {
  outline: 0; }
  .focus-feedback .ButtonGroup__button:focus, .focus-feedback .List__field--primary.List__field--button:focus, .focus-feedback a:focus,
  .focus-feedback button:focus, .focus-feedback .tabs__link--active:focus {
    box-shadow: inset 0 0 0 2px #0074e0, inset 0 0 0 4px rgba(255, 255, 255, 0.8) !important; }

.List__field:not(.List__item--nowrap) {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap; }

.Alert {
  background: #f3f9ff;
  border: 1px solid #0074e0;
  color: #005bb1;
  display: flex;
  align-items: flex-start;
  padding: 0 0.5rem;
  border-radius: 3px;
  min-height: 1.85rem; }
  .Alert + .Alert {
    margin-top: 1rem; }

.Alert--success {
  background: #f4fff6;
  border: 1px solid #208831;
  color: #156a23; }

.Alert--error {
  background: #fff1f3;
  border: 1px solid #c30014;
  color: #c30014; }

.Alert--warning {
  background: #fff5ec;
  border: 1px solid #e57d14;
  color: #904900; }

.Alert--filled {
  background: #0074e0;
  border: 1px solid #0074e0;
  color: #fff; }
  .Alert--filled.Alert--success {
    background: #208831;
    border: 1px solid #208831;
    color: #fff; }
  .Alert--filled.Alert--error {
    background: #c30014;
    border: 1px solid #c30014;
    color: #fff; }
  .Alert--filled.Alert--warning {
    background: #8b45b8;
    border: 1px solid #8b45b8;
    color: #fff; }

.Alert__icon {
  transform: translateY(0.5rem); }

.Alert__close {
  transform: translateY(0.25rem); }

.Alert__icon {
  font-size: 1.5rem;
  margin-right: 0.25rem; }

.Alert__message {
  flex: 1;
  flex-basis: auto;
  padding: 0.65rem 0.25rem; }

.Alert__close {
  font-size: 1.125rem;
  opacity: 1; }

.ButtonGroup__button, .List__field--primary.List__field--button {
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
  color: currentColor; }

.link {
  color: #0074e0;
  text-decoration: none;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) color; }
  .link:hover {
    color: #005bb1;
    text-decoration: underline; }
  .link:visited {
    color: #0074e0; }
    .link:visited:hover {
      color: #005bb1; }
  .link:focus {
    box-shadow: 0 0 0 3px #badeff;
    border-radius: 3px; }

.ButtonGroup__button, .List__field--primary.List__field--button, a,
button, .tabs__link--active {
  outline: 0; }
  .focus-feedback .ButtonGroup__button:focus, .focus-feedback .List__field--primary.List__field--button:focus, .focus-feedback a:focus,
  .focus-feedback button:focus, .focus-feedback .tabs__link--active:focus {
    box-shadow: inset 0 0 0 2px #0074e0, inset 0 0 0 4px rgba(255, 255, 255, 0.8) !important; }

.List__field:not(.List__item--nowrap) {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap; }

.tabs {
  list-style: none;
  display: flex;
  border-bottom: 1px solid #c9d1da; }

.tabs__link {
  display: block;
  padding: 0.5rem 1.5rem;
  color: #8899a9;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.05s cubic-bezier(0.53, 0.14, 0.33, 0.97), box-shadow 0.05s cubic-bezier(0.53, 0.14, 0.33, 0.97); }
  .tabs__link:hover, .tabs__link:active {
    color: #0074e0;
    box-shadow: inset 0 -2px 0 #0074e0, 0 1px 0 #0074e0; }

.tabs__link--active {
  color: #0074e0;
  box-shadow: inset 0 -2px 0 #0074e0, 0 1px 0 #0074e0;
  cursor: default; }

.tabs--panel {
  margin-bottom: 0; }

.tabs__link--panel.tabs__link--active {
  background: #fff;
  border-radius: 3px 3px 0 0;
  box-shadow: inset 0 1px 0 0 #c9d1da, inset 1px 0 0 0 #c9d1da, inset -1px 0 0 0 #c9d1da;
  position: relative;
  top: 1px; }

.m-top--none {
  margin-top: 0; }

.m-right--none {
  margin-right: 0; }

.m-bottom--none {
  margin-bottom: 0; }

.m-left--none {
  margin-left: 0; }

.m-vertical--none {
  margin-top: 0;
  margin-bottom: 0; }

.m-horizontal--none {
  margin-right: 0;
  margin-left: 0; }

.m-around--none {
  margin: 0; }

.m-top--xxx-small {
  margin-top: 0.125rem; }

.m-right--xxx-small {
  margin-right: 0.125rem; }

.m-bottom--xxx-small {
  margin-bottom: 0.125rem; }

.m-left--xxx-small {
  margin-left: 0.125rem; }

.m-vertical--xxx-small {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-horizontal--xxx-small {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.m-around--xxx-small {
  margin: 0.125rem; }

.m-top--xx-small {
  margin-top: 0.25rem; }

.m-right--xx-small {
  margin-right: 0.25rem; }

.m-bottom--xx-small {
  margin-bottom: 0.25rem; }

.m-left--xx-small {
  margin-left: 0.25rem; }

.m-vertical--xx-small {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-horizontal--xx-small {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.m-around--xx-small {
  margin: 0.25rem; }

.m-top--x-small {
  margin-top: 0.5rem; }

.m-right--x-small {
  margin-right: 0.5rem; }

.m-bottom--x-small {
  margin-bottom: 0.5rem; }

.m-left--x-small {
  margin-left: 0.5rem; }

.m-vertical--x-small {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-horizontal--x-small {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.m-around--x-small {
  margin: 0.5rem; }

.m-top--small {
  margin-top: 0.75rem; }

.m-right--small {
  margin-right: 0.75rem; }

.m-bottom--small {
  margin-bottom: 0.75rem; }

.m-left--small {
  margin-left: 0.75rem; }

.m-vertical--small {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-horizontal--small {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.m-around--small {
  margin: 0.75rem; }

.m-top--medium {
  margin-top: 1rem; }

.m-right--medium {
  margin-right: 1rem; }

.m-bottom--medium {
  margin-bottom: 1rem; }

.m-left--medium {
  margin-left: 1rem; }

.m-vertical--medium {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-horizontal--medium {
  margin-right: 1rem;
  margin-left: 1rem; }

.m-around--medium {
  margin: 1rem; }

.m-top--large {
  margin-top: 1.5rem; }

.m-right--large {
  margin-right: 1.5rem; }

.m-bottom--large {
  margin-bottom: 1.5rem; }

.m-left--large {
  margin-left: 1.5rem; }

.m-vertical--large {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-horizontal--large {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.m-around--large {
  margin: 1.5rem; }

.m-top--x-large {
  margin-top: 2rem; }

.m-right--x-large {
  margin-right: 2rem; }

.m-bottom--x-large {
  margin-bottom: 2rem; }

.m-left--x-large {
  margin-left: 2rem; }

.m-vertical--x-large {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-horizontal--x-large {
  margin-right: 2rem;
  margin-left: 2rem; }

.m-around--x-large {
  margin: 2rem; }

.m-top--xx-large {
  margin-top: 3rem; }

.m-right--xx-large {
  margin-right: 3rem; }

.m-bottom--xx-large {
  margin-bottom: 3rem; }

.m-left--xx-large {
  margin-left: 3rem; }

.m-vertical--xx-large {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-horizontal--xx-large {
  margin-right: 3rem;
  margin-left: 3rem; }

.m-around--xx-large {
  margin: 3rem; }

.p-top--none {
  padding-top: 0; }

.p-right--none {
  padding-right: 0; }

.p-bottom--none {
  padding-bottom: 0; }

.p-left--none {
  padding-left: 0; }

.p-vertical--none {
  padding-top: 0;
  padding-bottom: 0; }

.p-horizontal--none {
  padding-right: 0;
  padding-left: 0; }

.p-around--none {
  padding: 0; }

.p-top--xxx-small {
  padding-top: 0.125rem; }

.p-right--xxx-small {
  padding-right: 0.125rem; }

.p-bottom--xxx-small {
  padding-bottom: 0.125rem; }

.p-left--xxx-small {
  padding-left: 0.125rem; }

.p-vertical--xxx-small {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-horizontal--xxx-small {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.p-around--xxx-small {
  padding: 0.125rem; }

.p-top--xx-small {
  padding-top: 0.25rem; }

.p-right--xx-small {
  padding-right: 0.25rem; }

.p-bottom--xx-small {
  padding-bottom: 0.25rem; }

.p-left--xx-small {
  padding-left: 0.25rem; }

.p-vertical--xx-small {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-horizontal--xx-small {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.p-around--xx-small {
  padding: 0.25rem; }

.p-top--x-small {
  padding-top: 0.5rem; }

.p-right--x-small {
  padding-right: 0.5rem; }

.p-bottom--x-small {
  padding-bottom: 0.5rem; }

.p-left--x-small {
  padding-left: 0.5rem; }

.p-vertical--x-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-horizontal--x-small {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.p-around--x-small {
  padding: 0.5rem; }

.p-top--small {
  padding-top: 0.75rem; }

.p-right--small {
  padding-right: 0.75rem; }

.p-bottom--small {
  padding-bottom: 0.75rem; }

.p-left--small {
  padding-left: 0.75rem; }

.p-vertical--small {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-horizontal--small {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.p-around--small {
  padding: 0.75rem; }

.p-top--medium {
  padding-top: 1rem; }

.p-right--medium {
  padding-right: 1rem; }

.p-bottom--medium {
  padding-bottom: 1rem; }

.p-left--medium {
  padding-left: 1rem; }

.p-vertical--medium {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-horizontal--medium {
  padding-right: 1rem;
  padding-left: 1rem; }

.p-around--medium {
  padding: 1rem; }

.p-top--large {
  padding-top: 1.5rem; }

.p-right--large {
  padding-right: 1.5rem; }

.p-bottom--large {
  padding-bottom: 1.5rem; }

.p-left--large {
  padding-left: 1.5rem; }

.p-vertical--large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-horizontal--large {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.p-around--large {
  padding: 1.5rem; }

.p-top--x-large {
  padding-top: 2rem; }

.p-right--x-large {
  padding-right: 2rem; }

.p-bottom--x-large {
  padding-bottom: 2rem; }

.p-left--x-large {
  padding-left: 2rem; }

.p-vertical--x-large {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-horizontal--x-large {
  padding-right: 2rem;
  padding-left: 2rem; }

.p-around--x-large {
  padding: 2rem; }

.p-top--xx-large {
  padding-top: 3rem; }

.p-right--xx-large {
  padding-right: 3rem; }

.p-bottom--xx-large {
  padding-bottom: 3rem; }

.p-left--xx-large {
  padding-left: 3rem; }

.p-vertical--xx-large {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-horizontal--xx-large {
  padding-right: 3rem;
  padding-left: 3rem; }

.p-around--xx-large {
  padding: 3rem; }

.flex--shrink {
  flex: 0 1 auto; }

.flex--grow {
  flex: 1 0 auto; }

.text--h1,
.text--h2,
.text--h3,
.text--h4,
.text--h5,
.text--h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #3c454e; }

.text--h1 {
  font-size: 2.5rem;
  line-height: 1.2; }

.text--h2 {
  font-size: 2.25rem;
  line-height: 1.290322581; }

.text--h3 {
  font-size: 1.75rem;
  line-height: 1.428571429; }

.text--h4 {
  font-size: 1.5rem;
  line-height: 1; }

.text--h5 {
  font-size: 1.25rem;
  line-height: 1.2; }

.text--h6 {
  font-size: 1rem;
  line-height: 1.5; }

.text--lead {
  font-size: 1.125rem;
  line-height: 1.7777778; }

p {
  font-size: 1rem;
  line-height: 1.5; }

code {
  color: #c30014; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #c9d1da;
  font-family: Inconsolata, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-size: 1rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 0 1rem 1rem;
  margin: 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #262c30; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #9eaebc; }

.token.punctuation {
  color: #9eaebc; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #2d91ee; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #cd9aee; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #e57d14;
  background: transparent; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #8cc332; }

.token.function {
  color: #f38d97; }

.token.regex,
.token.important,
.token.variable {
  color: #e57d14; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

html,
body {
  height: 100%;
  background: #f3f9ff; }

.navbar {
  width: 100%;
  background: #002c55;
  color: #fff;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 7000; }
  @media only screen and (min-width: 768px) {
    .navbar {
      align-items: stretch; } }

@media only screen and (min-width: 768px) {
  .navlinks-toggle {
    display: none; } }

.navbar--home {
  background: transparent;
  color: #fff; }
  .navbar--home .alto-logo g {
    fill: #fff;
    transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) fill; }
  .navbar--home .navbar__brand:hover .alto-logo g {
    fill: rgba(255, 255, 255, 0.7); }
  .navbar--home .navbar__link {
    color: #fff; }
    .navbar--home .navbar__link:hover {
      background: transparent;
      box-shadow: inset 0 -4px 0 -1px #fff; }
    .navbar--home .navbar__link.active {
      background: transparent;
      box-shadow: inset 0 -4px 0 -1px #fff; }

.navbar__links {
  list-style: none;
  position: absolute;
  background: #002c55;
  right: 0;
  padding: 1rem;
  top: 3rem;
  width: 100%;
  z-index: 6999;
  display: none; }
  .show-navlinks .navbar__links {
    display: block; }
  @media only screen and (min-width: 768px) {
    .navbar__links {
      background: transparent;
      width: auto;
      position: relative;
      top: 0;
      padding: 0;
      display: flex !important;
      flex-direction: row; } }

.navbar__brand {
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem; }
  .navbar__brand svg {
    height: 1.5rem; }

.navbar__link {
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) all; }
  @media only screen and (min-width: 768px) {
    .navbar__link {
      padding: 0 1rem;
      font-size: 1rem; } }
  .navbar__link:hover {
    background: #02417c; }
  .navbar__link.active {
    background: #02417c; }

.footer {
  width: 100%;
  background: transparent;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%; }

.main-container--home {
  height: auto;
  min-height: 100%;
  background: url(../images/foreground-wide.svg) top center/cover no-repeat, url(../images/background-wide.svg) bottom center/cover no-repeat; }
  @media only screen and (min-width: 1980px) {
    .main-container--home {
      background-size: cover, cover; } }

.sidenav--page {
  padding: 1.5rem 0;
  border-right: 1px solid #c9d1da;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative; }

.sidenav__group-title {
  line-height: 1em;
  padding: 0.5rem 2rem;
  color: #687889;
  font-weight: 400;
  font-size: 1.125rem; }

.sidenav__link {
  text-decoration: none;
  color: #687889;
  display: block;
  padding: 0 1rem;
  line-height: 1.5;
  border-radius: 3px 0 0 3px;
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) all; }
  .sidenav__link:hover {
    background: #f8f9fb; }
  .sidenav__link.active {
    background: #c9d1da;
    color: #515e6b; }

.alto-hr {
  margin: 1rem 0 0.9375rem;
  border: 0.5px solid transparent; }

.sidenav--list {
  list-style-type: none;
  margin-bottom: 1rem; }
  .sidenav--list > li {
    margin-bottom: 2rem; }

.sidenav__subnav {
  list-style-type: none; }
  .sidenav__subnav li {
    padding-left: 2rem; }

.flex--row {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: stretch;
  overflow: hidden;
  width: 100%; }

.flex--col-to-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 auto; }
  @media only screen and (min-width: 768px) {
    .flex--col-to-row {
      flex-direction: row;
      flex: 1 1 auto;
      align-items: stretch;
      overflow: hidden; } }

.flex-grid {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .flex-grid {
      flex-direction: row; } }

.flex-item {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .flex-item {
      flex: 0 1 auto;
      margin-right: 1rem; }
      .flex-item:last-child {
        margin-right: 0; } }

.single-col {
  justify-content: center; }

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden; }

.page--single .content-container {
  max-width: 1200px;
  padding: 0 2rem; }

.flex--col {
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.content__header {
  flex: 0 0 auto;
  padding: 0.75rem 2rem;
  box-shadow: 0 1px 0 0 #c9d1da; }

.page-header__title {
  margin-bottom: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400; }

.page-header__link,
.page-header__link:visited {
  color: #3c454e;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 0 1rem;
  height: 2rem; }
  .page-header__link:first-of-type,
  .page-header__link:visited:first-of-type {
    border-right: 1px solid #d6d6d6;
    padding-left: 0; }

.content__body {
  flex: 1 1 auto;
  overflow: auto; }

.content {
  max-width: 52rem;
  padding: 1.5rem 2rem; }
  .content > p {
    margin: 1rem 0; }
    .content > p:first-child {
      margin-top: 0; }
  .content > ul {
    margin: 1rem 0;
    padding: 0 0 0 1rem; }
  .content > h1,
  .content > h2,
  .content > h3,
  .content > h4,
  .content > h5,
  .content > h6 {
    margin-top: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400; }
  .content > h2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 4rem; }
    .content > h2 + h3 {
      margin-top: 2rem; }
  .content > h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 3rem; }

.main {
  flex: 1 0 auto;
  width: 100%;
  padding: 2rem 1rem;
  max-width: 78rem; }

.hero {
  text-align: left;
  padding: 4rem 0 1rem;
  font-weight: 300;
  color: #fff; }

.hero__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
  color: #fff; }

.hero__actions {
  margin: 1rem 0; }
  .hero__actions .button {
    display: block; }
    .hero__actions .button:not(:last-child) {
      margin-bottom: 1rem; }
    @media only screen and (min-width: 560px) {
      .hero__actions .button {
        display: inline-block; } }
  @media only screen and (min-width: 560px) {
    .hero__actions .button:not(:last-child) {
      margin-right: 1rem;
      margin-bottom: 0; } }

.hero__link,
.hero__link:visited {
  color: #fff;
  box-shadow: 0 1px 0 0 #fff; }
  .hero__link:hover,
  .hero__link:visited:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0px 0 0 #fff; }

.hero__actions {
  margin: 1rem 0; }
  .hero__actions .button {
    display: block; }
    .hero__actions .button:not(:last-child) {
      margin-bottom: 1rem; }
    @media only screen and (min-width: 560px) {
      .hero__actions .button {
        display: inline-block; } }
  @media only screen and (min-width: 560px) {
    .hero__actions .button:not(:last-child) {
      margin-right: 1rem;
      margin-bottom: 0; } }

.hero__lead {
  font-size: 1.125rem;
  max-width: 24rem;
  line-height: 1.5;
  color: #fff; }

.pages-list {
  margin: 2rem 0;
  list-style-type: none;
  display: flex;
  flex-direction: column; }

.pages-list__link {
  font-size: 1.125rem;
  display: block;
  padding: 0.25rem 0.5rem; }

.alto-example,
.alto-code pre,
.alto-demo {
  border-radius: 3px;
  margin: 1rem 0;
  box-shadow: 0 2px 0.25rem rgba(60, 69, 78, 0.125), inset 0 0 0 1px #c9d1da; }

.alto-example,
.alto-demo {
  background: #fff; }

.alto-demo {
  padding: 1rem;
  background: #fff; }

.alto-demo--center {
  display: flex;
  align-items: center;
  justify-content: center; }

.alto-demo--tall {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.alto-example__code pre {
  border-radius: 0 0 3px 3px; }

.alto-example__demo {
  padding: 1rem;
  border-bottom: 1px solid #c9d1da; }

.alto-demo--dark-background {
  background: #262c30; }

.alto-logo g {
  fill: rgba(255, 255, 255, 0.8);
  transition: 0.15s cubic-bezier(0.53, 0.14, 0.33, 0.97) fill; }

.navbar__brand:hover .alto-logo g {
  fill: #fff; }

.example-tabbed-content {
  background: #fff;
  border-radius: 0 0 3px 3px;
  box-shadow: inset 0 -1px 0 0 #c9d1da, inset 1px 0 0 0 #c9d1da, inset -1px 0 0 0 #c9d1da; }
